@model RightControl.Model.LinksModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetail.cshtml";
}

<div class="layui-col-md12">
    <table class="layui-table" lay-skin="line">
        <tbody>
            <tr>
                <td>ID：</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>网站名称：</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>网址：</td>
                <td>@Model.Url</td>
            </tr>
            <tr>
                <td>图标：</td>
                <td>@Model.Icon</td>
            </tr>
            <tr>
                <td>描述：</td>
                <td>@Model.Describe</td>
            </tr>
            <tr>
                <td>创建时间：</td>
                <td>@Model.CreateOn</td>
            </tr>
        </tbody>
    </table>
</div>

