@model RightControl.Model.ArticleModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetail.cshtml";
}

<div class="layui-col-md12">
    <table class="layui-table" lay-skin="line">
        <tbody>
            <tr>
                <td>标题：</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>摘要：</td>
                <td>@Model.ZhaiYao</td>
            </tr>
            <tr>
                <td>封面：</td>
                <td><img src="@Model.ImgUrl" /> </td>
            </tr>
            <tr>
                <td>阅读数：</td>
                <td>@Model.ReadNum</td>
            </tr>
            <tr>
                <td>评论数：</td>
                <td>@Model.CommentNum</td>
            </tr>
            <tr>
                <td>内容：</td>
                <td><textarea id="Content" name="Content" lay-verify="concact">@Html.Raw(Model.Content)</textarea></td>
            </tr>
            <tr>
                <td>分类：</td>
                <td>@Model.ClassName</td>
            </tr>
            <tr>
                <td>类型：</td>
                <td>@Model.TypeName</td>
            </tr>
            <tr>
                <td>是否置顶：</td>
                <td>@(Model.Ding == 1 ? "置顶" : "不置顶")</td>
            </tr>
            <tr>
                <td>状态：</td>
                <td>@(Model.Status == true ? "启用" : "停用")</td>
            </tr>
            <tr>
                <td>修改时间：</td>
                <td>@Model.UpdateOn</td>
            </tr>
            <tr>
                <td>添加时间：</td>
                <td>@Model.CreateOn</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form;
        var layedit = layui.layedit;
        var $ = layui.$;
        layedit.set({
            uploadImage: {
                url: '/SysSet/Info/ExportFile/' //接口url
                , type: 'post' //默认post
            }
        });
        var index = layedit.build('Content', {
            tool:[
                'strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线

                , '|' //分割线

                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐
                , 'link' //超链接
                , 'unlink' //清除链接
            ]
        }); //建立编辑器
    });
</script>

